html {
    scroll-behavior: smooth;
}

/* Full-Page Background Color */
body {
    background-color: #121212;
    color: #E0E0E0;
}

h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif;
}

body, p, span {
    font-family: "Roboto", sans-serif;
}

.bordered-container {
    border-color: #444444;
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

#page-divider {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: 3%;
    gap: 6%;
    align-items: center;
}

#page-content {
    width: 57%;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    align-self: flex-start;
    margin: 0;
    padding-top: 0;
}

#nav-bar {
    width: 4%;
    height: 50vh;
}

.large-button a {
    color: #E0E0E0;
    margin: 0 0.5rem;
    font-size: inherit;
    transition: color 0.3s;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}
  
.large-button a:hover {
    color: #28E98C;
    text-decoration: underline;
}