/* Full-Page Background Color */
body {
    background-color: #121212;
    color: #E0E0E0;
}

.bordered-container {
    border-color: #444444;
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

body, p, span {
    font-family: "Roboto", sans-serif;
}
  

#page-divider {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: 3%;
    gap: 6%;
    align-items: center;
}

#page-content {
    width: 57%;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    align-self: flex-start;
    margin: 0;
    padding-top: 0;
}

#nav-bar {
    width: 4%;
    height: 50vh;
}